/pixels/node_modules
/pixels/public/hot
/pixels/public/storage
/pixels/public/css
/pixels/public/js
/pixels/public/mix-manifest.json
/pixels/storage/*.key
/pixels/vendor
/pixels/.env
/pixels/.env.backup
/pixels/.phpunit.result.cache
/pixels/Homestead.json
/pixels/Homestead.yaml
/pixels/npm-debug.log
/pixels/yarn-error.log
.idea
.DS_Store
/storage/mysql/*
